<!DOCTYPE html>
<html>
<head>
	<title>New Materials</title>
		<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
</head>
<body>
	<h1>New Materials</h1>
	<a href="{{ url_for('gdisconnect') }}">Logout</a><br><br>
	<form action="{{ url_for('newMaterials') }}" method="POST">
		<p>Name:</p>
		<input type="text" name="name" size="30" required="required">
		<input type="submit" name="Edit">
		<a href="{{ url_for('showMaterials') }}">Cancel</a>
	</form>
</body>
</html>